li {
  background-color: light;
  transition: background-color 0.5s, transform 0.5s;
}

.hovered {
  background-color: light;
  transform: scale(1.03);
  transition: background-color 0.5s, transform 0.8s;
  cursor: "pointer";
}
